* {
  box-sizing: border-box;
}

:root {
  --font-family: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =============common================ */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #171100;
  line-height: 50px;
  min-width: 118px;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 16px;
  border-radius: 999px;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.beak-all {
  word-break: break-all;
}

/* =============header================ */

.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6rem;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  background-color: #171100;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  left: 21px;
  bottom: 6px;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ===============hero=============== */

.hero {
  background-color: #fffcf4;
  padding: 56px 0 65px;
}
.hero .body {
  display: flex;
}

/* ==============hero left================ */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  background-color: #fff;
  width: 244px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero .item {
  display: flex;
  align-items: center;
}

.hero .item + .item {
  margin-top: 22px;
}
.hero .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero .icon2 {
  background-color: #fcefff;
}

.hero .icon3 {
  background-color: #ebeaff;
}

.hero .info {
  margin-left: 16px;
}
.hero .label {
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero .title {
  color: #171100;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
}

/* ======= hero right================= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
}
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
}
.hero .btn-cta {
  width: 180px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.hero .watch-video {
  background-color: transparent;
  border: none;
  margin-left: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}
.hero .content-block .stats strong {
  color: #171100;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
}

.hero .content-block .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ===========popular top============= */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  width: 458px;
  margin-top: 16px;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  border: 1px solid currentColor;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* =============course list============== */

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-list .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular .course-item .value {
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 1.75;
  margin-left: 6px;
}

.popular .course-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  margin-top: 6px;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* ==============feedback====================== */
.feedback {
  margin-top: 135px;
  background-color: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.feedback-item .info .avatar {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
}

.feedback-item .info .desc {
  color: #bfbcb2;
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}
.feedback-item .dot {
  background-color: #634700;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.feedback-item .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback .content-feedback {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
}

/* ==============features======= */

.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .image {
  display: flex;
  gap: 30px;
  object-fit: cover;
}

.features .image img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}

.features .image .lower {
  margin-top: 34px;
}

.features .content-features {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.content-features .btn-cta {
  font-weight: 600;
  font-size: 1.6rem;
  width: 137px;
  background: var(--primary-color);
  margin-top: 32px;
}
