* {
  box-sizing: border-box;
}

:root {
  --font-family: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =============common================ */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #171100;
  line-height: 50px;
  min-width: 118px;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 16px;
  border-radius: 999px;
  text-align: center;
}

.btn:hover{
  opacity: 0.9;
  cursor: pointer;
}
/* =============header================ */

.header {
  background-color: #fffcf4;
  
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6rem;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  background-color: #171100;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  left: 21px;
  bottom: 6px;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ===============hero=============== */

.hero {
  background-color: #fffcf4;
  padding: 56px 0 65px;
}
.hero .body {
  display: flex;
}

/* ==============hero left================ */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  background-color: #fff;
  width: 244px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}

.hero .item {
  display: flex;
  align-items: center;
}

.hero .item + .item {
  margin-top: 22px;
}
.hero .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero .icon2 {
  background-color: #fcefff;
}

.hero .icon3 {
  background-color: #ebeaff;
}

.hero .info {
  margin-left: 16px;
}
.hero .label {
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero .title {
  color: #171100;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
}

/* ======= hero right================= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
}
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
}
.hero .btn-cta {
  width: 180px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: var(--primary-color);
}

.hero .watch-video {
  background-color: transparent;
  border: none;
  margin-left: 28px;
  display: flex;
  align-items: center;
 cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0 rgb(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .desc-recent {

  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}
.hero .content-block .stats strong {
  color: #171100;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
}

.hero .content-block .stats strong:nth-child(2) {
  margin-left: 28px;
}
